*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    justify-content: center;
    text-align: center;
   
    
}
.header{
justify-content: space-between;
display: flex;
}


.hide {
    display: none;
}

.show{
    display: contents;
}